body,
html{
   width:  100%;
   height:  100%;
   font-family: 'IBM Plex Serif', serif;
   background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(images/header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}

/*General overwrite*/
a{
    color: #2C93FF;
}

a:hover, a:focus {
    color: #1084FF;
}

a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    outline : 0;
}

/*Font Smoothing*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .brand, .btn-simple{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/*Typography*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4{
    font-weight: 400;
    margin: 30px 0 15px;
}

h1, .h1 {
    font-size: 52px;
}

h2, .h2{
    font-size: 36px;
}

h3, .h3{
    font-size: 28px;
    margin: 20px 0 10px;
}

h4, .h4{
    font-size: 22px;
}

h5, .h5 {
    font-size: 16px;
}

h6, .h6{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

p{
    font-size: 16px;
    line-height: 1.6180em;
}

h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small {
    font-size: 60%;
}

.dropdown{
    padding-top: 12px;
    padding-left:  20px;
    font-size:  18px;
}

a:link{
    text-decoration: none;
}

.header-title{
    font-family: 'Libre Baskerville', serif;
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 300;
    position: relative;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
    margin-top: 120px;
    z-index: 3;
    animation-duration: 2s;
    animation-name: show-hide-content;
}

/*Description*/
.about{
    min-height: 100px;
    color: #FFFFFF;
    margin-top:  60px;
}

/*Form*/
.form-inline{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.btn-form{
   margin-top: 24.5px;
   margin-left: 10px;
}

.sr-only{
    color: #FFFFFF;
}

.info-text{
    font-size: 18px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.form-control {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: none;
    color: #444444;
    height: 38px;
    padding: 6px 16px;
}

.form-control:focus {
    background-color: #FFFFFF;
    border: 1px solid #9A9A9A;
    box-shadow: none;
    outline: 0 none;
}

.form-control + .form-control-feedback{
    border-radius: 6px;
    font-size: 14px;
    padding: 0 12px 0 0;
    position: absolute;
    right: 25px;
    top: 13px;
    vertical-align: middle;
}

.form-control.transparent{
    background-color: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(238, 238, 238, 0.27);
    color: #FFFFFF;
}

.form-control.transparent:focus{
    border-color: #FFFFFF;
    
}

.form-control::-moz-placeholder{
   color: #DDDDDD;
   opacity: 1;
}

.form-control:-moz-placeholder{
   color: #DDDDDD;
   opacity: 1;  
}

.form-control::-webkit-input-placeholder{
   color: #DDDDDD;
   opacity: 1; 
}

.form-control:-ms-input-placeholder{
   color: #DDDDDD;
   opacity: 1; 
}

/*Footer*/
footer{
    position: absolute;
    bottom: 15px;
    right: 0px;
    width: 100%;
    text-align: right;
    margin-top: 40px;
    color: #FFFFFF;
}


